.exampleWithButtons {
  position: relative;
  display: flex;
  flex-direction: row;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14rem;
  height: 20rem;
}

.appWithEditMode {
  display: flex;
  flex-direction: row;
  transform: scale(200%);
  transform-origin: bottom left;
  transition: transform 0.4s;
  z-index: 100;
  border: 1px solid black;
  background-color: white;
  padding-left: 0.5rem;
}

.editMode {
  cursor: crosshair;
}

.appWithWhiteBackground {
  border: 1px solid black;
}

/* in edit mode, the border around the white background is not necessary since the appInEditMode already provides a border */
.appWithEditMode .appWithWhiteBackground {
  border: none;
}

.editButton {
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  font-weight: 600;
  padding: 0.5rem;
}

.buttonsSection {
  margin-left: 0.5rem;
  margin-bottom: 5rem;
}

.buttonsSectionTitle {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.buttons > div {
  width: fit-content;
  padding: 0.2rem 0.3rem;
  font-size: 0.6rem;
  font-weight: 600;
  border-radius: 8px;
}

.primaryButton {
  padding: 0.2rem 0.3rem;
  margin: 0 0.4rem 1rem 0.4rem;
  font-size: small;
  font-weight: 600;
  border-radius: 8px;
  text-align: center;
}

.text {
  display: inline-block;
}
