@import '../../../colors.scss';

.colorPaletteStepList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.colorTitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  align-items: center;
  font-family: "Lexend";
}

.colorTitleText {
  margin: 0;
  width: fit-content;
}

.circleWithNumber {
  width: 1.5rem;
  flex-shrink: 0;
  stroke: $primary;
  fill: $primary;
}

.link {
  text-decoration: none;
  color: $neutral;
  font-weight: 500;
}

.decisionIcon {
  position: relative;
  top: -1.5rem;
  width: 59%;
  fill: $primary;
}

.orSection{
  position: relative;
  top: -2rem;
}

.orText {
  font-family: "Lexend";
  text-align: center;
}

.centerElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.primaryAndAccentColor{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}