@import '../../../styles/colors.scss';

.colorPaletteStepList {
  display: grid;
  grid-template-columns: repeat(4, 22rem);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  column-gap: 6.5rem;
}

.colorTitle {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  align-items: center;
  font-family: "Lexend";
}

.colorTitleText {
  margin: 0;
  width: fit-content;
}

.circleWithNumber {
  width: 1.5rem;
  flex-shrink: 0;
  stroke: $color-primary;
  fill: $color-primary;
}

.link {
  text-decoration: none;
  color: $color-neutral;
  font-weight: 500;
}

.chooseTwoColorsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.decisionIcon {
  width: 20rem;
  fill: $color-primary;
  align-self: center;
}

.orText {
  position: relative;
  font-family: "Lexend";
  text-align: center;
  font-size: large;
  font-weight: 700;

  &::before {
    position: absolute;
    z-index: -1;
    bottom: calc(50% - 0.15rem);
    left: calc(50% - 3.5rem);
    width: 10%;
    content: "";
    border-bottom: 3px solid $color-primary;
  }

  &::after {
    position: absolute;
    z-index: -1;
    bottom: calc(50% - 0.15rem);
    right: calc(50% - 3.5rem);
    width: 10%;
    content: "";
    border-bottom: 3px solid $color-primary;
  }
}

.title {
  margin: 0;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  text-align: center;
}

.primaryAndAccentColorsPicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}

.preview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  //padding to make app appear as high as actual edge of color bars and not the button above
  padding-top: 1.9rem;
}

.previewContent {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}