.exampleForWebsite {}

.title {
    padding: 0.5rem;
    font-weight: 500;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    row-gap: 1rem;
}

.card {
    height: 5rem;
    border-radius: 10px;
    padding: 1rem;
}