$color-primary: #09233e;
$color-primary_accent: #31557c;
$color-primary_light: #699ace;
$color-neutral_dark: #d74346;
$color-neutral: #f77e80;
$color-neutral_accent: #febebf;
$color-neutral_light: #fff0f0;
$color-gray: #5e646b;
$color-middlegray: #b5bbc4;
$color-lightgray: #e3e5e8;

$color-code-dark: black;
$color-code-light: white;

$warning: #be1f1f;