@font-face {
    font-family: "Epilogue";
    src: url('./../fonts/epilogue/Epilogue-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Lexend";
    src: url('./../fonts/lexend/Lexend-VariableFont_wght.ttf')
}