@import '../styles/colors.scss';

.header {
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  padding: 1em 1rem 0 1rem;
}

.home {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  column-gap: 0.3rem;
  cursor: pointer;
  width: fit-content;
}

.titleOfApp {
  font-family: "Lexend";
  font-size: 1.4rem;
  margin: 0;
  color: $color-primary;
}

.colorPaletteIcon {
  position: relative;
  width: 2.5rem;

  height: auto;
  color: $color-primary;
}

.navbar {
  justify-self: center;
}

.helpIcon {
  justify-self: end;
}

.content {
  padding-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}