.header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 0.3rem 0 0 0.3rem;
  }
  
  .titleOfApp {
    font-family: "Lobster";
    font-size: 1.4rem;
    margin: 0;
  }
  
  .colorPaletteIcon {
    width: 1.6rem;
  }