@import '../../colors.scss';

.colorBarWithWarning {
  position: relative;
  display: flex;
  flex-direction: row;
}

.colorBar {
  position: relative;
  border: none;
  width: 20rem;
  height: 3rem;
  transform: translateY(-0.3rem);
  cursor: pointer;
}

.saturationWarning {
  border: 2px solid $warning;
}

.saturationWarningMessage {
  position: absolute;
  top: 0;
  left: -5.9rem;
  color: $warning;
  font-size: xx-small;
}