@import "../../spacing.scss";

.designExamples {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-left: $pagePaddingLeft;
}

.designExamplesRow {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}