@import "../../colors.scss";

.generatedPalette {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.title {
  font-family: "Lexend";
  font-size: large;
}

.visibilityIcon {
  fill: $primary;
  cursor: pointer;
}

.horizontalPalette {
  display: flex;
  flex-direction: row;
}

.horizontalPaletteBar {
  width: 7.7rem;
  height: 10rem;
}

.colorCodeDark {
  color: $color-code-dark;
}

.colorCodeLight {
  color: $color-code-light;
}