.generatedPalette {
  display: flex;
  flex-direction: column;
}

.generatedPalette h4 {
  font-family: "Lexend";
  font-size: large;
}
.horizontalPalette {
  display: flex;
  flex-direction: row;
}

.horizontalPaletteBar {
  width: 8rem;
  height: 10rem;
}

.colorCodeDark {
  color: black;
}
.colorCodeLight {
  color: white;
}
