.codeSnippets {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  column-gap: 2rem;
}

.codeAndDonationButton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}