@import "../../colors.scss";
@import "../../global.scss";

.explanation {
    height: auto;
}

.codeAndButton {
    position: relative;
}

.code {
    //double the height of a color bar
    height: 7rem;
    width: $columnWidth;
}

.copyButton {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: 2rem;
    cursor: pointer;
}