$primary: #09233e;
$primary_accent: #31557c;
$primary_light: #699ace;
$neutral_dark: #d74346;
$neutral: #f77e80;
$neutral_accent: #febebf;
$neutral_light: #fff0f0;
$gray: #5e646b;
$lightgray: #e3e5e8;

$warning: #be1f1f;