@import '../../colors.scss';

.title {
  font-family: "Lexend";
}

.code {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 15rem;
  background-color: $lightgray;
  padding-bottom: 0.5rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.copyIcon {
  align-self: end;
  margin-bottom: 0.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.codeSnippet {
  margin: 0 0.5rem;
}