.title {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: #dfdddd;
  padding-bottom: 0.5rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.code button {
  align-self: end;
  margin-bottom: 0.5rem;
}

.codeSnippet {
  margin: 0 0.5rem;
}
